# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/
tmp/
tmp*/ 
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
target/surefire-reports/com.h2.AppTest.txt
target/surefire-reports/TEST-com.h2.AppTest.xml
target/surefire-reports/com.h2.AppTest.txt
